<h1>Session Detail</h1>
<br>
<h2>Name : </h2><div id="answers"><%= @session.name %></div>
<h2>Price: </h2><div id="answers"><%= @session.price %> $$$</div>
<h2>Location: </h2><div id="answers"><%= @session.location %></div>
<h2>Date: </h2><div id="answers"><%= @session.date %></div>
<h2>Duration: </h2><div id="answers"><%= @session.duration %> Hours</div>
<h2>Rating: </h2><div id="answers"><%= @session.rating %> Stars</div>
<h2>Status: </h2><div id="answers"><%= @session.status %></div>
<h2>By Photographer</h2>
<div id="answers"><a href="/photographers/<%= @photographer.slug %>"><%= @photographer.firstname %> <%= @photographer.lastname %></a></div>
<h2>For client</h2>
<div id="answers"><a href="/clients/<%= @client.id %>"><%= @client.firstname %> <%= @client.lastname %></a></div>
<% if @photographer == current_user %>
    <div id="edits">
        <a href="/sessions/<%= @session.id %>/edit">Edit Session</a>
        <br>
        <a href="/sessions/<%= @session.id %>/delete">Delete Session</a>
    </div>
<% end %>
<br>
<h3><a href="/sessions">Back to Sessions Index</a></h3>
<h3><a href="/photographers">Back to Welcome Page</a></h3>
