<h1>Client Profile</h1>

<h2> Full Name: </h2><div id="answers"><%= @client.firstname %>, <%= @client.lastname %></div>
<h2> Email: </h2><div id="answers"><%= @client.email %></div>
<h2>Total of Sessions: </h2><div id="answers"><%= @client.sessions.count %></div>

<ul>
<% @client.sessions.each do |session| %>
<li><a href="/sessions/<%= session.id %>"><%= session.name %></a></li>
<p>Location: <%= session.location %>.</p>
<p>Date: <%= session.date %>.</p>
<p>Price: <%= session.price %> $$$.</p>
<p>Duration: <%= session.duration %> Hours.</p>
<p>Rating: <%= session.rating %> Stars.</p>
<p>Status: <%= session.status %>.</p>
<% end %>
</ul>

<h2>Photographers that worked with this client: </h2><div id="answers"><%= @client.photographers.count %></div>

<ul>
  <% @client.photographers.each do |photographer| %>
  <li><a href="/photographers/<%= photographer.slug %>"><%= photographer.firstname %> <%= photographer.lastname %> / <%= photographer.email %></a></li>
  <% end %>
</ul>

<div id="edits">
<a href="/clients/<%= @client.id %>/edit">Edit profile</a>
<br>
<a href="/clients/<%= @client.id %>/delete">Delete profile</a>
</div>

<h3><a href="/clients">Back to Clients Index</a></h3>
<h3><a href="/photographers">Back to Welcome Page</a></h3>
