<h1>Edit Profile</h1>
<br>

 <form action='/photographers/<%= @photographer.slug %>' method="post">
 <input id="hidden" type="hidden" name="_method" value="patch">
   <br>
    <h3>New Name:</h3>
    <br>
    <input type="text" id="firstname" name="firstname" placeholder="<%= @photographer.firstname %>">
    <input type="text" id="lastname"name="lastname" placeholder="<%= @photographer.lastname %>">
    <br>
     <h3>New Username:</h3>
     <br>
    <input type="text" id="username"name="username" placeholder="<%= @photographer.username %>">
    <br>
     <h3>New Email:</h3>
     <br>
    <input type="text" id="email"name="email" placeholder="<%= @photographer.email %>">
    <br>
     <h3>New Password:</h3>
     <br>
    <input type="password" id="password"name="password" placeholder="New password">


    <input type="submit" name="submit" id="submit">

  </form>
  <br>
  <a href="/welcome">BACK</a>
