<h1>Edit Profile</h1>
<br>
<% if @photographer == current_user %>
 <form action='/photographers/<%= @photographer.slug %>' method="post">
 <input id="hidden" type="hidden" name="_method" value="patch">
   <br>
    <h3>New Name:</h3>
    <br>
    <input type="text" id="firstname" name="firstname" placeholder="First Name" value="<%= @photographer.firstname %>">
    <input type="text" id="lastname"name="lastname" placeholder="Last Name" value="<%= @photographer.lastname %>">
    <br>
     <h3>New Username:</h3>
     <br>
    <input type="text" id="username"name="username" placeholder="UserName" value="<%= @photographer.username %>">
    <br>
     <h3>New Email:</h3>
     <br>
    <input type="email" id="email"name="email" placeholder="Email" value="<%= @photographer.email %>">
    <br>
     <h3>New Password:</h3>
     <br>
    <input type="password" id="password"name="password" placeholder="Password" value="****">


    <input type="submit" name="submit" id="submit" value="Update">

  </form>
  <br>
  <% else %>
  Sorry Cant Edit Someone else Profile
  <% end %>
  <br>
  <br>
  <a href="/photographers">BACK</a>
