<h1>Profile</h1>

<h4> Full Name: </h4><p><%= @photographer.firstname %>, <%= @photographer.lastname %></p>

<h4>Total of Sessions: </h4><p><%= @photographer.sessions.count %></p>
<ul>
<% current_user.sessions.each do |session| %>
<li><a href="/sessions/<%= session.id %>"><%= session.name %></a></li>
<p>Location: <%= session.location %>.</p>
<p>Date: <%= session.date %>.</p>
<p>Price: <%= session.price %> $$$.</p>
<p>Duration: <%= session.duration %> Hours.</p>
<p>Rating: <%= session.rating %> Stars.</p>
<p>Status: <%= session.status %>.</p>
<% end %>
</ul>
<ul>
<h4>List of clients</h4>
  <% current_user.clients.each do |client| %>
  <li><a href="/clients/<%= client.id %>"><%= client.firstname %> <%= client.lastname %></li>
  <% end %>
</ul>
<% if @photographer == current_user %>
<h3><a href="/photographers/<%= @photographer.slug %>/edit">Edit profile</a></h3>
<h3><a href="/photographers/<%= @photographer.slug %>/delete">Delete profile</a></h3>
<% end %>
<h3><a href="/photographers">Back to Welcome Page</a></h3>
