
<h1> Welcome Page </h1>

    <a href="/clients/new">Create New Client</a>
    <br>
    <a href="/sessions/new">Create New Session</a>

    <h3>List of All Photographers with links</h3>
      <ul>
        <% @photographers.each do |photographer| %>
          <% if current_user.username == photographer.username %>
          <li><%= photographer.firstname %> <%= photographer.lastname %></li>
          <% else %>
            <li><a href="/photographers/<%= photographer.slug %>"><%= photographer.firstname %> <%= photographer.lastname %></a></li>
          <% end %>
        <% end %>
      </ul>

    <h3>List of Clients with links</h3>
        <ul>
          <% @clients.each do |client| %>
          <li><a href="/clients/<%= client.id %>"><%= client.firstname %> <%= client.lastname %></a></li>
          <% end %>
        </ul>

  <h3>List of Sessions with links</h3>
    <ul>
      <% @sessions.each do |session| %>
      <li><a href="/sessions/<%= session.id %>">Session Type:<%= session.name %> / <%= session.date %></a></li>
      <% end %>
    </ul>
